[mysqld]
default_authentication_plugin=mysql_native_password
bind-address=0.0.0.0
port=3306

# Logging
general_log=1
general_log_file=/var/lib/mysql/mysql.log
log_error=/var/lib/mysql/error.log

# Security
local_infile=0

# Performance
max_connections=200